<div class=main_container>
<h3>編集</h3>

 <% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>

<%= render "shared/error", obj: @post %>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :finish ,"終了日" %></th>
       <td><%= f.date_field :finish %></td>
    </tr>
    <tr>
      <th><%= f.label :day ,"終日" %></th>
      <td>
              <%= f.check_box :day %>終日の場合はチェックを入れます
          </td>      
    </tr>
    <tr>
      <th><%= f.label :memo ,"メモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>
</div>

<footer>
  <%= render "shared/partial" %>
</footer>