<div class=main_container>
<h3>一覧</h3>

<% if flash[:success] %>
  <p class="alert_success"><%= flash[:success] %></p>
<% elsif flash[:delete] %>
  <p class="alert_delete"><%= flash[:delete] %></p>
 <% end %>  

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
 <% end %>  

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post&.start&.strftime("%Y年 %m月 %d日") %></td>
        <td><%= post&.finish&.strftime("%Y年 %m月 %d日") %></td>
        <td>
          <% if post.day == true %>
          <%= "○" %>
          <% else post.day == false %>
          <% end %></td>
        </td>
        <td><%= post.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "確認", post %></td>
        <td><%= link_to "編集", [:edit, post] %></td>
        <td><%= link_to "削除", post, data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %></td>      
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "新規登録", :new_post %></p>
</div>

 <footer>
    <h1>現在の日時 : <%= Date.current.strftime("%Y年 %m月 %d日") %></h1>
    <h1>スケジュール合計 : <%= @posts.count %></h1> 
  </footer>


